.auth_form {
  height: calc(100vh - 56px);
  width: 100%;
  .login-container {
    background-color: var(--bg-primary);
    height: 500px;
    width: 375px;
    padding: 18px 22px;
  }

  .register-container {
    background-color: var(--bg-primary);
    height: 700px;
    width: 375px;
    padding: 18px 22px;
  }

  .form-body {
    h2 {
      margin-top: 45px;
      margin-bottom: 35px;
      font-size: 34px;
      font-weight: 700;
    }
    .bottom {
      .auth-link {
        display: flex;
        align-items: end;
        margin-bottom: 35px;
        a {
          margin-top: 16px;
          margin-right: 8px;
        }
        i {
          color: var(--primary);
          margin-bottom: 5px;
        }
      }
      button {
        border: none;
        border-radius: 25px;
        background-color: var(--primary);
        font-size: 14px;
        color: white;
        padding: 15px 20px;
        box-shadow: 1px 5px 3px 0px rgba(0, 0, 0, 0.24);
      }
    }
  }
}
