.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-wrapper-label {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 5fr;
  label {
    margin-bottom: 15px;
    margin-right: 20px;
    min-width: 90px;
  }
}
.input-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  background-color: var(--input-background);
  width: 100%;
  &:focus {
    border: 1px solid var(--button-color);
  }
  i {
    width: 50px;
    padding: 15px;
    color: var(--text-primary);
  }
  .form-input {
    width: 100%;
    font-weight: 500;
    line-height: 1.5;
    border: 1px solid var(--input-background);

    display: flex;
    justify-content: center;
    align-items: center;
  }
  margin-bottom: 20px;
}

.dropdown-gender {
  display: flex;
  align-items: center;
  height: 40px;
  select {
    margin-left: 10px;
    height: 35px;
    min-width: 150px;
  }
}
