.pagination-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  button {
    height: 100%;
    width: 30px;
  }

  .disabled {
    background-color: rgb(80, 59, 0);
    cursor: not-allowed;
  }
  .current {
    padding: 15px;
  }
}

.btn-main {
  border: none;
  border-radius: 25px;
  background-color: var(--primary);
  font-size: 14px;
  color: white;
  padding: 15px 20px;
  box-shadow: 1px 5px 3px 0px rgba(0, 0, 0, 0.24);
}
