:root {
  --background-1: #fafafa;
  --background-2: #e2e2e2;
  // $bg-light:
  // $bg-dark-2:

  --text-primary: black;
  --text-secondary: grey;
  // Inputs
  --input-background: #fff;
  --input-color: #131922;
  // $light-input: #F5F5F5;

  // Buttons
  --button: #ffa300;
  --text-orange: #f0962c;
  --button-color: #000;
}

[theme-color="dark"] {
  --background-1: #131922;
  --background-2: #263044;
  // $bg-light:
  // $bg-dark-2:

  --text-primary: #ffffff;
  --text-secondary: #7a816d;

  // Inputs
  --input-background: #1f2635;
  --input-color: #877c65;
  // $light-input: #F5F5F5;

  // Buttons
  // --button: #ffa300;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--input-background) inset !important;
  -webkit-text-fill-color: var(--input-color) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--text-orange);
}

button {
  background-color: var(--button);
  color: var(--button-color);
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  &:focus {
    outline: none;
    border: none;
  }
}

input {
  background-color: var(--input-background);
  color: var(--input-color);
  border: none;
}

select {
  background-color: var(--input-background);
  color: var(--input-color);
  border: none;
  &:focus {
    outline: none;
  }
}
