// Background
$background-1: #fafafa;
$background-2: #f1f1f1;

// $bg-light:
// $bg-dark-2:

// Inputs
$input-background: #fff;
$input-color: #131922;
// $light-input: #F5F5F5;

// Buttons
$button: #ffa300;
$button-color: #000;

[dark-theme="dark"] {
  $background-1: #131922;
  $background-2: #263044;
  // $bg-light:
  // $bg-dark-2:

  // Inputs
  $input-background: #1f2635;
  $input-color: #877c65;
  // $light-input: #F5F5F5;

  // Buttons
  $button: #ffa300;
  $button-color: #000;
}
