.custom-table {
  color: var(--text);
  tr {
    th {
      border-bottom: none;
    }
    td {
      border-bottom: none;
      img {
        max-height: 100px;
        max-width: 100px;
      }
    }
  }
}

button {
  padding: 5px 10px;
}

.more {
  background-color: var(--more);
  &:hover {
    color: var(--more);
  }
}
.update {
  background-color: var(--update);
  &:hover {
    color: var(--update);
  }
}
.delete {
  background-color: var(--delete);
  &:hover {
    color: var(--delete);
  }
}

.cancelled {
  color: rgb(206, 48, 48);
}
.paid {
  color: rgb(32, 160, 32);
}
.pending {
  color: rgb(63, 182, 255);
}

.disabled {
  background-color: var(--disabled);
  color: var(--grey);
  cursor: not-allowed;
  &:hover {
    background-color: var(--disabled);
    color: var(--grey);
  }
}
