.cart-item-body {
  background-color: var(--input-bg);
  color: var(--text);
  &:last-of-type {
    border-bottom: 1px solid var(--bg-primary);
  }
  img {
    height: 150px;
    width: auto;
  }
  .cart-item-title {
    a {
      font-size: 22px;
      font-weight: 600;
    }
  }
  .handler {
    display: flex;
    flex-direction: column;
    .quantity {
      button {
        display: flex;
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border-radius: 50%;
      }
      .disabled {
        background-color: var(--disabled);
        color: var(--grey);
        cursor: not-allowed;
        &:hover {
          background-color: var(--disabled);
          color: var(--grey);
        }
      }
    }
  }
  .price {
    font-size: 30px;
    font-weight: 700;
  }
  .delete-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px 15px;
  }
}
