.products-body {
  .body-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .product-display {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  .body {
    background-color: var(--bg-primary);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: calc(100vh - 50px);
    // ??
    .filter {
      height: 50px;
      margin-left: 14px;
      width: 500px;
      padding: 10px;
    }
    .product-display {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .pagination-body {
      height: 54px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .pag-total {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
      }
      .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
      }
      .show-amount {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
      }
      .perPage {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
      }
    }
  }
}

.page {
  background-color: var(--bg-primary);
  header {
    .banner {
      background-image: url("https://images6.alphacoders.com/942/thumb-1920-942455.jpg");
      background-size: cover;
      background-position: center;
      min-height: calc(80vh - 50px);
      color: white;
      h1 {
        font-weight: 700;
        font-size: 30px;
      }
      .banner-button {
        max-width: 300px;
      }
    }
  }
}

.page-product {
  .container {
    .back-button {
      padding-top: 40px;
      button {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--primary);
        color: var(--white);
        border-radius: 50%;
        &:hover {
          background-color: var(--white);
          color: var(--primary);
        }
      }
    }
    .content {
      padding-top: 20px;

      .right {
        .category-link {
          font-size: 14px;
          span {
            a {
              margin-left: 10px;
              font-size: 16px;
              color: var(--primary);
              &:hover {
                color: var(--text);
              }
            }
          }
        }
        .branding {
          font-weight: 600;
          padding: 5px 10px;
          background-color: rgb(41, 41, 153);
          &:hover {
            background-color: var(--white);
          }
          a {
            color: var(--white);
            &:hover {
              color: rgb(41, 41, 153);
            }
          }
        }
        .success {
          color: var(--success);
        }
        .error {
          color: var(--error);
        }
      }
    }
    .handler {
      .quantity {
        button {
          display: flex;
          height: 40px;
          width: 40px;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          border-radius: 50%;
        }
        .disabled {
          background-color: var(--disabled);
          color: var(--grey);
          cursor: not-allowed;
          &:hover {
            background-color: var(--disabled);
            color: var(--grey);
          }
        }
      }
    }
  }
}

.total-sold {
  font-size: 14px;
  color: var(--grey);
}
