.nav-wrapper {
  height: 50px;
  width: 100%;
  background-color: var(--input-background);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: var(--text-primary);
  .logo {
    width: 100%;
  }
  .options {
    display: flex;
    align-items: center;
    .user-options {
      display: flex;
      justify-content: space-between;
      .user {
        margin-right: 25px;
      }
    }
    button {
      margin-left: 25px;
      padding: 5px 10px;
      a {
        color: black;
      }
    }
  }
}

.sidebar-body {
  background-color: var(--background-1);
  border-right: 1px solid var(--background-2);
}
