.navbar,
.navbar-expand-md {
  min-height: 50px;
  width: 100vw;
  background-color: var(--input-background);
  .container-fluid {
    color: white;
    display: flex;
    justify-content: space-between;
    .logo {
      a {
        color: var(--button);
        font-size: 22px;
      }
    }
    .collapse,
    .navbar-collapse {
      .navbar-nav {
        display: flex;
        align-items: center;
        .user-options {
          display: flex;
          justify-items: space-between;
          .user {
            margin-right: 30px;
          }
          .cart {
            width: 30px;
            margin-right: 30px;
            display: flex;
            position: relative;
            .cart-amount {
              position: absolute;
              top: -7px;
              right: 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              font-weight: 700;
              color: var(--text-primary);
              background-color: red;
              border-radius: 50%;
              width: 15px;
              height: 15px;
            }
          }
        }
      }
      button {
        padding: 5px 10px;
        a {
          color: black;
        }
      }
    }
  }
}
.sidebar-body {
  background-color: var(--background-1);
  border-right: 1px solid var(--background-2);
}

.navbar-toggler {
  border: none;
  outline: none;
  padding: 7px 15px;
  background-color: var(--background-1);
  color: var(--button);
}
