.table-bg {
  background-color: var(--background-1);
  color: var(--text-primary);
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .table-body {
    display: grid;
    grid-template-rows: 65px auto 65px;
    height: 700px;
    width: 1000px;
    background-color: var(--background-2);
    padding: 10px 15px;
    .header {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      background-color: var(--background-1);
      .input-body {
        margin-bottom: 0px;
        input {
          width: 300px;
        }
      }
      button {
        margin-left: 400px;
        height: 40px;
        padding: 0px 30px;
      }
    }

    .bottom {
      padding: 15px;
      background-color: var(--background-1);
      display: flex;
      align-items: center;
      justify-content: center;
      .total {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
      }
      .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 3;
      }
      .show-amount {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
      }
    }
  }
}
