.user-body {
  background-color: var(--bg-primary);
  min-height: calc(100vh - 50px);
  .user-info {
    max-width: 250px;
    img {
      height: 100%;
      width: auto;
    }
    .change-info {
      display: flex;
      justify-content: space-between;
      .change-details {
        margin-right: 10px;
      }
      span {
        font-size: 20px;
      }
      button {
        padding: 8px 16px;
      }
    }
  }
}

.cart-body,
.checkout-body {
  min-height: calc(100vh - 50px);
  background-color: var(--bg-primary);
  color: var(--text);
  .total {
    p {
      font-size: 32px;
    }
  }
}

.checkout-body {
  .simple-dropdown,
  .input-body {
    width: 100%;
  }
}
